:root{
    --primary-bg-color: hsl(148, 38%, 91%);
    --primary-button-color: hsl(169, 82%, 27%);
    --primary-error-color: hsl(0, 66%, 54%);
    --primary-form-color:  hsl(0, 0%, 100%);
    --secondary-font-color: hsl(186, 15%, 59%);
    --primary-font-color: hsl(187, 24%, 22%);
    --primary-font-size: 16px;
    --primary-font-family: "Karla", sans-serif;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.asterisk::after {
    content: "*";
}

